dev_パーツ_プラス項目詳細PR作成君.yml
app:
  description: プラス項目の詳細PRを作成
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: dev_パーツ_プラス項目詳細PR作成君
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.4@3345b596ee5117d9304097feaee866f05ffaf0d76a790fb07acd8b99f6c87cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 4e1db137-e79f-49e4-ad28-f6fa31020628
    name: error_message_e02
    selector:
    - env
    - error_message_e02
    value: プラス項目内PR詳細の文字数調整に失敗しました。
    value_type: string
  - description: ''
    id: d6ec843c-6653-4fd2-8cae-b8e3aec7801d
    name: error_type_e02
    selector:
    - env
    - error_type_e02
    value: parts_plus_pr_contents_e02
    value_type: string
  - description: ''
    id: 0f5f586c-7b7d-4d3a-91f9-872b835edf1a
    name: error_message_e01
    selector:
    - env
    - error_message_e01
    value: プラス項目内PR詳細の作成に失敗しました。
    value_type: string
  - description: ''
    id: 327f90be-d612-493a-877e-934235f057f4
    name: error_type_e01
    selector:
    - env
    - error_type_e01
    value: parts_plus_pr_contents_e01
    value_type: string
  - description: ''
    id: bf20e220-443a-4975-b97f-93c58f2080f5
    name: char_tolerance
    selector:
    - env
    - char_tolerance
    value: 15
    value_type: integer
  - description: ''
    id: 7f56f3eb-48ab-4d08-9e01-26acd9a4fa8f
    name: itelation_count
    selector:
    - env
    - itelation_count
    value: 5
    value_type: integer
  - description: ''
    id: 5ce7c18e-7865-40bb-8543-260b765e5928
    name: json_schema_sections
    selector:
    - env
    - json_schema_sections
    value: '{ "properties": { "plus_pr_contents": { "type": "array", "description":
      "元の文章を表す要素の配列。要素数は最大で3。", "maxItems": 3, "items": { "original_text": { "type":
      "string", "description": "元の文章全体を記述した文字列" }, "sections": { "type": "array",
      "description": "元の文章を40文字程度に分割した各セクションの配列", "items": { "section_text": { "type":
      "string", "description": "分割された個々の文章（40文字程度）" }, "section_index": { "type":
      "integer", "description": "元の文章内でこのセクションが何番目かを示すインデックス" }, "original_text_index":
      { "type": "integer", "description": "このセクションが属する元の文章がpr_contentsのどの要素かを示すインデックス"
      }, "rank": { "type": "integer", "description": "修正のしやすさを示すランク（1が最も影響がない、数値が大きいほど影響が大きい）"
      }, "fixed_section_text": { "type": "string", "description": "section_textの修正後の文章（2文字の変更）"
      } } } } } } }'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1730618336797-source-1737595736438-target
      selected: false
      source: '1730618336797'
      sourceHandle: source
      target: '1737595736438'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1737611882343'
        sourceType: iteration-start
        targetType: llm
      id: 1737611882343start-source-1737611892632-target
      selected: false
      source: 1737611882343start
      sourceHandle: source
      target: '1737611892632'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 17376117009350-source-1737611882343-target
      selected: false
      source: '17376117009350'
      sourceHandle: source
      target: '1737611882343'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1737611882343'
        sourceType: llm
        targetType: llm
      id: 1737611892632-source-1737611928691-target
      selected: false
      source: '1737611892632'
      sourceHandle: source
      target: '1737611928691'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1737611882343'
        sourceType: llm
        targetType: llm
      id: 1737611928691-source-1737611930964-target
      selected: false
      source: '1737611928691'
      sourceHandle: source
      target: '1737611930964'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1737611882343'
        sourceType: llm
        targetType: code
      id: 1737611930964-source-1737611973053-target
      selected: false
      source: '1737611930964'
      sourceHandle: source
      target: '1737611973053'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: code
      id: 1737611882343-source-17376122464130-target
      selected: false
      source: '1737611882343'
      sourceHandle: source
      target: '17376122464130'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1737595837735-source-17376117009350-target
      selected: false
      source: '1737595837735'
      sourceHandle: source
      target: '17376117009350'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1737595736438-source-1737595399740-target
      selected: false
      source: '1737595736438'
      sourceHandle: source
      target: '1737595399740'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1737595399740-source-1737595837735-target
      selected: false
      source: '1737595399740'
      sourceHandle: source
      target: '1737595837735'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: 17376122464130-source-1737945761755-target
      selected: false
      source: '17376122464130'
      sourceHandle: source
      target: '1737945761755'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1737945761755-true-1737946388099-target
      selected: false
      source: '1737945761755'
      sourceHandle: 'true'
      target: '1737946388099'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '17379464132050'
        sourceType: iteration-start
        targetType: llm
      id: 1737946413205start-source-1737946413205017379464132050-target
      selected: false
      source: 1737946413205start
      sourceHandle: source
      target: '1737946413205017379464132050'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17379464132050'
        sourceType: llm
        targetType: llm
      id: 1737946413205017379464132050-source-1737946413205017379464132051-target
      selected: false
      source: '1737946413205017379464132050'
      sourceHandle: source
      target: '1737946413205017379464132051'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17379464132050'
        sourceType: llm
        targetType: llm
      id: 1737946413205017379464132051-source-1737946413205017379464132052-target
      selected: false
      source: '1737946413205017379464132051'
      sourceHandle: source
      target: '1737946413205017379464132052'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17379464132050'
        sourceType: llm
        targetType: code
      id: 1737946413205017379464132052-source-1737946413205017379464132053-target
      selected: false
      source: '1737946413205017379464132052'
      sourceHandle: source
      target: '1737946413205017379464132053'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: iteration
      id: 1737945761755-false-17379464132050-target
      selected: false
      source: '1737945761755'
      sourceHandle: 'false'
      target: '17379464132050'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: code
      id: 17379464132050-source-17379464461670-target
      selected: false
      source: '17379464132050'
      sourceHandle: source
      target: '17379464461670'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: 17379464461670-source-17379464475730-target
      selected: false
      source: '17379464461670'
      sourceHandle: source
      target: '17379464475730'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 17379464475730-true-1737946388099-target
      selected: false
      source: '17379464475730'
      sourceHandle: 'true'
      target: '1737946388099'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1737946388099-source-1737947331813-target
      selected: false
      source: '1737946388099'
      sourceHandle: source
      target: '1737947331813'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1737947331813-source-1737614174747-target
      selected: false
      source: '1737947331813'
      sourceHandle: source
      target: '1737614174747'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 17382378279950-false-17382378323280-target
      source: '17382378279950'
      sourceHandle: 'false'
      target: '17382378323280'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 17382378279950-true-1737946388099-target
      source: '17382378279950'
      sourceHandle: 'true'
      target: '1737946388099'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: iteration
      id: 17379464475730-false-17382378166230-target
      source: '17379464475730'
      sourceHandle: 'false'
      target: '17382378166230'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '17382378166230'
        sourceType: iteration-start
        targetType: llm
      id: 1738237816623start-source-1738237816623017382378166230-target
      source: 1738237816623start
      sourceHandle: source
      target: '1738237816623017382378166230'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17382378166230'
        sourceType: llm
        targetType: llm
      id: 1738237816623017382378166230-source-1738237816623017382378166231-target
      source: '1738237816623017382378166230'
      sourceHandle: source
      target: '1738237816623017382378166231'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17382378166230'
        sourceType: llm
        targetType: llm
      id: 1738237816623017382378166231-source-1738237816623017382378166232-target
      source: '1738237816623017382378166231'
      sourceHandle: source
      target: '1738237816623017382378166232'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17382378166230'
        sourceType: llm
        targetType: code
      id: 1738237816623017382378166232-source-1738237816623017382378166233-target
      source: '1738237816623017382378166232'
      sourceHandle: source
      target: '1738237816623017382378166233'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: code
      id: 17382378166230-source-17382378244250-target
      source: '17382378166230'
      sourceHandle: source
      target: '17382378244250'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: 17382378244250-source-17382378279950-target
      source: '17382378244250'
      sourceHandle: source
      target: '17382378279950'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - label: アウトライン
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: outline
        - label: 合計最大文字数
          max_length: 48
          options: []
          required: true
          type: number
          variable: max_length
        - label: 合計最小文字数
          max_length: 48
          options: []
          required: true
          type: number
          variable: min_length
        - label: PR文章作成計画
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: plan
        - label: 各PRの関連メモ
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: pr_memo
        - label: 各PRの文字数計画
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: pr_length_plan
        - label: 掲載NG内容
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: no_publish
      height: 265
      id: '1730618336797'
      position:
        x: 30
        y: 358.5
      positionAbsolute:
        x: 30
        y: 358.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(input_json: str) -> dict:\n    import json\n\n    def find_keys_in_json(json_data,\
          \ target_keys):\n        results = {}\n        \n        # 再帰的にJSONデータを探索する関数\n\
          \        def recursive_search(data):\n            if isinstance(data, dict):\
          \  # 辞書の場合\n                for key, value in data.items():\n          \
          \          if key in target_keys:  # 対象のキーを発見\n                        results[key]\
          \ = value\n                    recursive_search(value)\n            elif\
          \ isinstance(data, list):  # リストの場合\n                for item in data:\n\
          \                    recursive_search(item)\n        \n        # 再帰探索を開始\n\
          \        recursive_search(json_data)\n        return results\n\n    # JSON文字列を辞書に変換\n\
          \    data = json.loads(input_json)\n\n    # 対象のキーを指定して取得\n    target_keys\
          \ = [\"analyze_3c\"]\n    found_values = find_keys_in_json(data, target_keys)\n\
          \    \n    analyze_3c = found_values[\"analyze_3c\"]\n    \n    # 結果を返す\n\
          \    return {\n        \"pr1_memo\": analyze_3c[\"pr1\"],\n        \"pr2_memo\"\
          : analyze_3c[\"pr2\"],\n        \"pr3_memo\": analyze_3c[\"pr3\"],\n   \
          \ }"
        code_language: python3
        desc: ''
        outputs:
          pr1_memo:
            children: null
            type: string
          pr2_memo:
            children: null
            type: string
          pr3_memo:
            children: null
            type: string
        selected: false
        title: PRごとの関連店舗メモ分割
        type: code
        variables:
        - value_selector:
          - '1730618336797'
          - pr_memo
          variable: input_json
      height: 52
      id: '1737595399740'
      position:
        x: 638
        y: 358.5
      positionAbsolute:
        x: 638
        y: 358.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(input_json):\n    import json\n\n    def find_keys_in_json(json_data,\
          \ target_keys):\n        results = {}\n        \n        # 再帰的にJSONデータを探索する関数\n\
          \        def recursive_search(data):\n            if isinstance(data, dict):\
          \  # 辞書の場合\n                for key, value in data.items():\n          \
          \          # キーを小文字に変換して比較\n                    for target_key in target_keys:\n\
          \                        if key.lower() == target_key.lower():\n       \
          \                     results[target_key] = value\n                    recursive_search(value)\n\
          \            elif isinstance(data, list):  # リストの場合\n                for\
          \ item in data:\n                    recursive_search(item)\n        \n\
          \        # 再帰探索を開始\n        recursive_search(json_data)\n        return\
          \ results\n\n    # JSON文字列を辞書に変換\n    data = json.loads(input_json)\n\n\
          \    # 対象のキーを指定して取得\n    target_keys = [\"pr1\", \"pr2\", \"pr3\"]\n   \
          \ found_values = find_keys_in_json(data, target_keys)\n\n    return {\n\
          \        \"outline1\": json.dumps(found_values[\"pr1\"], ensure_ascii=False),\n\
          \        \"outline2\": json.dumps(found_values[\"pr2\"], ensure_ascii=False),\n\
          \        \"outline3\": json.dumps(found_values[\"pr3\"], ensure_ascii=False),\n\
          \    }"
        code_language: python3
        desc: ''
        outputs:
          outline1:
            children: null
            type: string
          outline2:
            children: null
            type: string
          outline3:
            children: null
            type: string
        selected: true
        title: アウトライン分割
        type: code
        variables:
        - value_selector:
          - '1730618336797'
          - outline
          variable: input_json
      height: 52
      id: '1737595736438'
      position:
        x: 334
        y: 358.5
      positionAbsolute:
        x: 334
        y: 358.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(input_json: str) -> dict:\n    import json\n\n    def find_keys_in_json(json_data,\
          \ target_keys):\n        results = {}\n        \n        # 再帰的にJSONデータを探索する関数\n\
          \        def recursive_search(data):\n            if isinstance(data, dict):\
          \  # 辞書の場合\n                for key, value in data.items():\n          \
          \          if key in target_keys:  # 対象のキーを発見\n                        results[key]\
          \ = value\n                    recursive_search(value)\n            elif\
          \ isinstance(data, list):  # リストの場合\n                for item in data:\n\
          \                    recursive_search(item)\n        \n        # 再帰探索を開始\n\
          \        recursive_search(json_data)\n        return results\n\n    # JSON文字列を辞書に変換\n\
          \    data = json.loads(input_json)\n\n    # 対象のキーを指定して取得\n    target_keys\
          \ = [\"pr_character_lengths\"]\n    found_values = find_keys_in_json(data,\
          \ target_keys)\n    \n    lengths = found_values[\"pr_character_lengths\"\
          ]\n    \n    # 結果を返す\n    return {\n        \"pr1_length\": lengths[\"pr1\"\
          ],\n        \"pr2_length\": lengths[\"pr2\"],\n        \"pr3_length\": lengths[\"\
          pr3\"],\n    }"
        code_language: python3
        desc: ''
        outputs:
          pr1_length:
            children: null
            type: number
          pr2_length:
            children: null
            type: number
          pr3_length:
            children: null
            type: number
        selected: false
        title: 文字数計画分割
        type: code
        variables:
        - value_selector:
          - '1730618336797'
          - pr_length_plan
          variable: input_json
      height: 52
      id: '1737595837735'
      position:
        x: 942
        y: 358.5
      positionAbsolute:
        x: 942
        y: 358.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(itelation_count: int) -> dict:\n\n    return {\n        \"\
          iteration_list\": [i for i in range(itelation_count)],\n    }"
        code_language: python3
        desc: ''
        outputs:
          iteration_list:
            children: null
            type: array[number]
        selected: false
        title: イテレーションリスト
        type: code
        variables:
        - value_selector:
          - env
          - itelation_count
          variable: itelation_count
      height: 52
      id: '17376117009350'
      position:
        x: 1246
        y: 358.5
      positionAbsolute:
        x: 1246
        y: 358.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 192
        is_parallel: true
        iterator_selector:
        - '17376117009350'
        - iteration_list
        output_selector:
        - '1737611973053'
        - plus_pr_contents
        output_type: array[string]
        parallel_nums: 5
        selected: false
        start_node_id: 1737611882343start
        title: プラス項目詳細PR作成1回目
        type: iteration
        width: 1338
      height: 192
      id: '1737611882343'
      position:
        x: 1550
        y: 358.5
      positionAbsolute:
        x: 1550
        y: 358.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1338
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1737611882343start
      parentId: '1737611882343'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1574
        y: 426.5
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1737611882343'
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: a8a373c6-88f4-4868-8b55-5e8af3ddca94
          role: system
          text: ''
        - id: db8d788e-236f-4165-847f-e2a841026040
          role: user
          text: 'あなたは効果的な広告文章を作成するAIアシスタントです。与えられた情報を基に、ターゲットに響くお店の特長を引き出し、集客につながるような魅力的な広告文章を作成することが目標です。


            以下の情報をよく確認してください：


            店舗メモ：

            <store_memo>

            {{#1737595399740.pr1_memo#}}

            </store_memo>


            アウトライン：

            <outline>

            {{#1737595736438.outline1#}}

            </outline>


            事前情報の分析結果：

            <analysis_results>

            {{#1730618336797.plan#}}

            </analysis_results>


            掲載してはいけない情報とその理由：

            <no_publish>

            {{#1730618336797.no_publish#}}

            </no_publish>


            目標文字数：

            <pr_text_target_character_count>

            {{#1737595837735.pr1_length#}}

            </pr_text_target_character_count>


            タスクの手順：

            1. 提供された情報を確認し、理解します。

            2. <analysis_results>に含まれるSEOキーワードと地域キーワードを確認します。

            3. アウトラインのPRポイントについて広告文章を作成します。

            4. 作成した文章をチェックし、必要に応じて修正します。

            5. 指定されたJSON形式で出力します。


            広告文章作成の詳細な手順：


            1. SEOキーワードと地域キーワードを効果的に組み込むよう心がけてください。

            - キーワードを組み込む際は、<store_memo>や<outline>に記載のない内容を推測や補完により追加することはしないでください。

            - キーワードを組み込む際は、<store_memo>と<outline>に矛盾がないかを必ず確認し、虚偽の内容とならないように注意してください。

            - キーワードを使うことで事実と合わない表現になる場合、該当キーワードは無理に使用しないでください。


            2. アウトラインのPRポイントについて、以下の点に注意しながら文章を作成してください：

            - <store_memo>と<outline>に含まれる情報のみを使用し、虚偽や過度な誇張表現を避けてください。

            - <no_publish> に示された情報は使用せず、文章に含めないでください。

            - PR文章は<pr_text_target_character_count>±10文字の長さで作成してください。

            - タイトルは別で作成するため、見出しを付けないでください。

            - 以下の文章の条件を遵守してください：

            ・文末に「！」「♪」「◎」を使用する際は、それぞれ3か所以内とすること。

            ・文末に「！」「♪」「◎」を使用する文は、必要に応じて体言止めにすること。

            ・文調は、やや親しみやすい表現にすること。

            ・店員目線の文章とし、一人称は「当店」とすること。

            ・一文は20文字程度に調整すること。


            3. 作成した文章をチェックし、以下の点を確認し、必要に応じて修正してください:

            - 虚偽や過度な誇張表現が含まれていないか

            - 掲載してはいけない情報に該当する記述が含まれていないか

            - PR文章の文字数と文字数を数え、報告してください

            - 作成した文章が<pr_text_target_character_count>±10文字の範囲に収まるように調整してください


            4. 最終的な出力は以下のJSON形式で行ってください：

            {

            "pr_content1": "PR文章"

            }


            注意事項：

            - 常に<store_memo>と<outline>の情報に基づいて文章を作成し、**事実に基づいた記述**を心がけてください。

            - <analysis_results>から抽出したSEOキーワードや地域キーワードを使う際は、<store_memo>や<outline>と矛盾しないかを厳重に確認してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を超える場合は、情報を減らしたり、言い回しの変更を行って調整してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を下回る場合は、<store_memo>をもとに情報を追加したり、言い回しの変更を行って調整してください。

            - 出力は必ず指定されたJSON形式に従ってください。余計なコメントや情報は出力しないでください。


            それでは、与えられた情報を基に魅力的な広告文章を作成してください。'
        selected: false
        title: プラス項目1
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1737611892632'
      parentId: '1737611882343'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 1678
        y: 426.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1737611882343'
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: 446bdb2c-8471-4638-a27e-7d4068aa5199
          role: system
          text: ''
        - id: 52d4e9cd-66b4-458b-817e-60bb8c465c51
          role: user
          text: 'あなたは効果的な広告文章を作成するAIアシスタントです。与えられた情報を基に、ターゲットに響くお店の特長を引き出し、集客につながるような魅力的な広告文章を作成することが目標です。


            以下の情報をよく確認してください：


            店舗メモ：

            <store_memo>

            {{#1737595399740.pr2_memo#}}

            </store_memo>


            アウトライン：

            <outline>

            {{#1737595736438.outline2#}}

            </outline>


            事前情報の分析結果：

            <analysis_results>

            {{#1730618336797.plan#}}

            </analysis_results>


            掲載してはいけない情報とその理由：

            <no_publish>

            {{#1730618336797.no_publish#}}

            </no_publish>


            目標文字数：

            <pr_text_target_character_count>

            {{#1737595837735.pr2_length#}}

            </pr_text_target_character_count>


            PR1：

            <pr_contents1>

            {{#1737611892632.text#}}

            </pr_contents1>


            タスクの手順：

            1. 提供された情報を確認し、理解します。

            2. <analysis_results>に含まれるSEOキーワードと地域キーワードを確認します。

            3. アウトラインのPRポイントについて広告文章を作成します。

            4. 作成した文章をチェックし、必要に応じて修正します。

            5. 指定されたJSON形式で出力します。


            広告文章作成の詳細な手順：


            1. SEOキーワードと地域キーワードを効果的に組み込むよう心がけてください。

            - キーワードを組み込む際は、<store_memo>や<outline>に記載のない内容を推測や補完により追加することはしないでください。

            - キーワードを組み込む際は、<store_memo>と<outline>に矛盾がないかを必ず確認し、虚偽の内容とならないように注意してください。

            - キーワードを使うことで事実と合わない表現になる場合、該当キーワードは無理に使用しないでください。


            2. アウトラインのPRポイントについて、以下の点に注意しながら文章を作成してください：

            - <store_memo>と<outline>に含まれる情報のみを使用し、虚偽や過度な誇張表現を避けてください。

            - <no_publish> に示された情報は使用せず、文章に含めないでください。

            - タイトルは別で作成するため、見出しを付けないでください。

            - PR1と重複する内容は含めないでください。

            - PR文章は<pr_text_target_character_count>±10文字の長さで作成してください。

            - 以下の文章の条件を遵守してください：

            ・文末に「！」「♪」「◎」を使用する際は、それぞれ3か所以内とすること。

            ・文末に「！」「♪」「◎」を使用する文は、必要に応じて体言止めにすること。

            ・文調は、やや親しみやすい表現にすること。

            ・店員目線の文章とし、一人称は「当店」とすること。

            ・一文は20文字程度に調整すること。


            3. 作成した文章をチェックし、以下の点を確認し、必要に応じて修正してください:

            - 虚偽や過度な誇張表現が含まれていないか

            - 掲載してはいけない情報に該当する記述が含まれていないか

            - PR文章の文字数と文字数を数え、報告してください

            - 作成した文章が<pr_text_target_character_count>±10文字の範囲に収まるように調整してください


            4. 最終的な出力は以下のJSON形式で行ってください：

            {

            "pr_content2": "PR文章"

            }


            注意事項：

            - 常に<store_memo>と<outline>の情報に基づいて文章を作成し、**事実に基づいた記述**を心がけてください。

            - ほかのPR文と内容が重複しないようにしてください。

            - <analysis_results>から抽出したSEOキーワードや地域キーワードを使う際は、<store_memo>や<outline>と矛盾しないかを厳重に確認してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を超える場合は、情報を減らしたり、言い回しの変更を行って調整してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を下回る場合は、<store_memo>をもとに情報を追加したり、言い回しの変更を行って調整してください。

            - 出力は必ず指定されたJSON形式に従ってください。余計なコメントや情報は出力しないでください。


            それでは、与えられた情報を基に魅力的な広告文章を作成してください。'
        selected: false
        title: プラス項目2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1737611928691'
      parentId: '1737611882343'
      position:
        x: 432
        y: 68
      positionAbsolute:
        x: 1982
        y: 426.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1737611882343'
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: 1c22a831-fa7f-4d95-82cf-bb08ae3b62eb
          role: system
          text: ''
        - id: 21cbed13-cd2f-4660-bdf3-57d7781f32df
          role: user
          text: 'あなたは効果的な広告文章を作成するAIアシスタントです。与えられた情報を基に、ターゲットに響くお店の特長を引き出し、集客につながるような魅力的な広告文章を作成することが目標です。


            以下の情報をよく確認してください：


            店舗メモ：

            <store_memo>

            {{#1737595399740.pr3_memo#}}

            </store_memo>


            アウトライン：

            <outline>

            {{#1737595736438.outline3#}}

            </outline>


            事前情報の分析結果：

            <analysis_results>

            {{#1730618336797.plan#}}

            </analysis_results>


            掲載してはいけない情報とその理由：

            <no_publish>

            {{#1730618336797.no_publish#}}

            </no_publish>


            目標文字数：

            <pr_text_target_character_count>

            {{#1737595837735.pr3_length#}}

            </pr_text_target_character_count>


            ほかのPR：

            <other_pr_contents>

            {{#1737611892632.text#}}

            {{#1737611928691.text#}}

            </other_pr_contents>


            タスクの手順：

            1. 提供された情報を確認し、理解します。

            2. <analysis_results>に含まれるSEOキーワードと地域キーワードを確認します。

            3. アウトラインのPRポイントについて広告文章を作成します。

            4. 作成した文章をチェックし、必要に応じて修正します。

            5. 指定されたJSON形式で出力します。


            広告文章作成の詳細な手順：


            1. SEOキーワードと地域キーワードを効果的に組み込むよう心がけてください。

            - キーワードを組み込む際は、<store_memo>や<outline>に記載のない内容を推測や補完により追加することはしないでください。

            - キーワードを組み込む際は、<store_memo>と<outline>に矛盾がないかを必ず確認し、虚偽の内容とならないように注意してください。

            - キーワードを使うことで事実と合わない表現になる場合、該当キーワードは無理に使用しないでください。


            2. アウトラインのPRポイントについて、以下の点に注意しながら文章を作成してください：

            - <store_memo>と<outline>に含まれる情報のみを使用し、虚偽や過度な誇張表現を避けてください。

            - <no_publish> に示された情報は使用せず、文章に含めないでください。

            - タイトルは別で作成するため、見出しを付けないでください。

            - ほかのPRと重複する内容は含めないでください。

            - PR文章は<pr_text_target_character_count>±10文字の長さで作成してください。

            - 以下の文章の条件を遵守してください：

            ・文末に「！」「♪」「◎」を使用する際は、それぞれ3か所以内とすること。

            ・文末に「！」「♪」「◎」を使用する文は、必要に応じて体言止めにすること。

            ・文調は、やや親しみやすい表現にすること。

            ・店員目線の文章とし、一人称は「当店」とすること。

            ・一文は20文字程度に調整すること。


            3. 作成した文章をチェックし、以下の点を確認し、必要に応じて修正してください:

            - 虚偽や過度な誇張表現が含まれていないか

            - 掲載してはいけない情報に該当する記述が含まれていないか

            - PR文章の文字数と文字数を数え、報告してください

            - 作成した文章が<pr_text_target_character_count>±10文字の範囲に収まるように調整してください


            4. 最終的な出力は以下のJSON形式で行ってください：

            {

            "pr_content3": "PR文章"

            }


            注意事項：

            - 常に<store_memo>と<outline>の情報に基づいて文章を作成し、**事実に基づいた記述**を心がけてください。

            - ほかのPR文と内容が重複しないようにしてください。

            - <analysis_results>から抽出したSEOキーワードや地域キーワードを使う際は、<store_memo>や<outline>と矛盾しないかを厳重に確認してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を超える場合は、情報を減らしたり、言い回しの変更を行って調整してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を下回る場合は、<store_memo>をもとに情報を追加したり、言い回しの変更を行って調整してください。

            - 出力は必ず指定されたJSON形式に従ってください。余計なコメントや情報は出力しないでください。


            それでは、与えられた情報を基に魅力的な広告文章を作成してください。'
        selected: false
        title: プラス項目3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1737611930964'
      parentId: '1737611882343'
      position:
        x: 736
        y: 68
      positionAbsolute:
        x: 2286
        y: 426.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "def main(json1: str, json2: str, json3: str) -> dict:\n    import json\n\
          \    import ast\n\n    def find_keys_in_json(json_data, target_keys):\n\
          \        results = {}\n        \n        # 再帰的にJSONデータを探索する関数\n        def\
          \ recursive_search(data):\n            if isinstance(data, dict):  # 辞書の場合\n\
          \                for key, value in data.items():\n                    #\
          \ キーを小文字に変換して比較\n                    if key.lower() in [k.lower() for k\
          \ in target_keys]:\n                        results[key] = value\n     \
          \               recursive_search(value)\n            elif isinstance(data,\
          \ list):  # リストの場合\n                for item in data:\n                \
          \    recursive_search(item)\n        \n        # 再帰探索を開始\n        recursive_search(json_data)\n\
          \        return results\n\n    # JSON文字列を辞書に変換\n    data1 = json.loads(json1)\n\
          \    data2 = json.loads(json2)\n    data3 = json.loads(json3)\n\n    # 対象のキーを指定して取得\n\
          \    data1 = find_keys_in_json(data1, [\"pr_content1\"])\n    data2 = find_keys_in_json(data2,\
          \ [\"pr_content2\"])\n    data3 = find_keys_in_json(data3, [\"pr_content3\"\
          ])\n    \n    pr_content1 = data1.get(\"pr_content1\")\n    pr_content2\
          \ = data2.get(\"pr_content2\")\n    pr_content3 = data3.get(\"pr_content3\"\
          )\n    \n    plus_pr_contents = {\n        \"plus_pr_contents\": [pr_content1,\
          \ pr_content2, pr_content3]\n    }\n    \n    # 結果を返す\n    return {\n  \
          \      \"plus_pr_contents\": json.dumps(plus_pr_contents, ensure_ascii=False),\n\
          \    }"
        code_language: python3
        default_value:
        - key: plus_pr_contents
          type: string
          value: ''
        desc: ''
        error_strategy: default-value
        isInIteration: true
        iteration_id: '1737611882343'
        outputs:
          plus_pr_contents:
            children: null
            type: string
        selected: false
        title: 配列に変換
        type: code
        variables:
        - value_selector:
          - '1737611892632'
          - text
          variable: json1
        - value_selector:
          - '1737611928691'
          - text
          variable: json2
        - value_selector:
          - '1737611930964'
          - text
          variable: json3
      height: 88
      id: '1737611973053'
      parentId: '1737611882343'
      position:
        x: 1040
        y: 68
      positionAbsolute:
        x: 2590
        y: 426.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\ndef main(iteration_result, max_length, min_length, char_tolerance)\
          \ -> dict:\n    import json\n    import ast\n    import functools\n\n  \
          \  # ぶれ許容量:char_tolerance\n    \n    min_dif_plus_pr_contents = []\n   \
          \ iteration_lengths = []\n    min_dif = float('inf')\n    for json_str in\
          \ iteration_result:\n        if json_str == '':\n            continue\n\n\
          \        data = json.loads(json_str)\n        contents = data['plus_pr_contents']\
          \ # 文字列を配列に変換\n\n        total_length = sum([len(content) for content in\
          \ contents if content is not None])\n        dif = total_length - max_length\
          \  # 既定文字数との差異を計算\n        is_valid = max_length >= total_length >= min_length\n\
          \n        iteration_lengths.append(total_length)\n        min_dif_plus_pr_contents.append((is_valid,\
          \ dif, total_length, json_str))\n    \n    def custom_sort(elem1, elem2):\n\
          \        \"\"\"\n        カスタムの比較関数。\n        is_validの降順->difが0に近い順に並べ替え\n\
          \        \"\"\"\n        # bool値で比較\n        if elem1[0] != elem2[0]:\n\
          \            return elem2[0] - elem1[0]  # Trueを上位にする\n\n        # int値で比較\
          \ (0に近い方を上位にする)\n        diff1 = abs(elem1[1])\n        diff2 = abs(elem2[1])\n\
          \        if diff1 != diff2:\n            return diff1 - diff2\n\n      \
          \  # ここまで来たら、boolとintが同じ\n        return True\n\n    # is_validの降順->difが0に近い順に並べ替え（カスタムの比較関数を使ってソート）\n\
          \    # 既定の文字数範囲内の一番長いものが1番目に来る\n    # すべて既定の文字数範囲外であれば最大文字数に一番近いものが1番目に来る\n\
          \    sorted_list = sorted(min_dif_plus_pr_contents, key=functools.cmp_to_key(custom_sort))\n\
          \    total_length = sorted_list[0][2]\n    result = sorted_list[0][3]\n\
          \    is_valid = max_length + char_tolerance >= total_length >= min_length\n\
          \n    return {\n        \"is_valid\": is_valid,\n        \"result\": result,\n\
          \        \"result_length\": total_length,\n        \"iteration_lengths\"\
          : iteration_lengths, # 動作確認用に全パターンの文字数を出力\n    }\n"
        code_language: python3
        desc: 並列処理で出力された文字数調整案から規定の最大文字数に一番近いものを採用
        outputs:
          is_valid:
            children: null
            type: number
          iteration_lengths:
            children: null
            type: array[number]
          result:
            children: null
            type: string
          result_length:
            children: null
            type: number
        selected: false
        title: 並列処理調整結果
        type: code
        variables:
        - value_selector:
          - '1737611882343'
          - output
          variable: iteration_result
        - value_selector:
          - '1730618336797'
          - max_length
          variable: max_length
        - value_selector:
          - '1730618336797'
          - min_length
          variable: min_length
        - value_selector:
          - env
          - char_tolerance
          variable: char_tolerance
      height: 112
      id: '17376122464130'
      position:
        x: 2948
        y: 358.5
      positionAbsolute:
        x: 2948
        y: 358.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1737947331813'
          - result
          variable: result
        selected: false
        title: 終了 2
        type: end
      height: 88
      id: '1737614174747'
      position:
        x: 4387.874242428921
        y: 358.5
      positionAbsolute:
        x: 4387.874242428921
        y: 358.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 5d876b11-fadd-4e4c-9629-8b03a55092fa
            value: '1'
            varType: number
            variable_selector:
            - '17376122464130'
            - is_valid
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 124
      id: '1737945761755'
      position:
        x: 3252
        y: 358.5
      positionAbsolute:
        x: 3252
        y: 358.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(result1: str, result2: str, result3: str) -> dict:\n    import\
          \ ast\n\n    result = result3\n    if result is None:\n        result =\
          \ result2\n    if result is None:\n        result = result1\n\n    return\
          \ {\n        'result': result, \n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 規定文字数範囲内
        type: code
        variables:
        - value_selector:
          - '17376122464130'
          - result
          variable: result1
        - value_selector:
          - '17379464461670'
          - result
          variable: result2
        - value_selector:
          - '17382378244250'
          - result
          variable: result3
      height: 52
      id: '1737946388099'
      position:
        x: 3763.089699692573
        y: 358.5
      positionAbsolute:
        x: 3763.089699692573
        y: 358.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 192
        is_parallel: true
        iterator_selector:
        - '17376117009350'
        - iteration_list
        output_selector:
        - '1737946413205017379464132053'
        - plus_pr_contents
        output_type: array[string]
        parallel_nums: 5
        selected: false
        start_node_id: 1737946413205start
        title: イテレーション 2 (1)
        type: iteration
        width: 1338
      height: 192
      id: '17379464132050'
      position:
        x: 1558.5908317011404
        y: 826.2178628403738
      positionAbsolute:
        x: 1558.5908317011404
        y: 826.2178628403738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1338
      zIndex: 1
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '17379464132050'
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: a8a373c6-88f4-4868-8b55-5e8af3ddca94
          role: system
          text: ''
        - id: db8d788e-236f-4165-847f-e2a841026040
          role: user
          text: 'あなたは効果的な広告文章を作成するAIアシスタントです。与えられた情報を基に、ターゲットに響くお店の特長を引き出し、集客につながるような魅力的な広告文章を作成することが目標です。


            以下の情報をよく確認してください：


            店舗メモ：

            <store_memo>

            {{#1737595399740.pr1_memo#}}

            </store_memo>


            アウトライン：

            <outline>

            {{#1737595736438.outline1#}}

            </outline>


            事前情報の分析結果：

            <analysis_results>

            {{#1730618336797.plan#}}

            </analysis_results>


            掲載してはいけない情報とその理由：

            <no_publish>

            {{#1730618336797.no_publish#}}

            </no_publish>


            目標文字数：

            <pr_text_target_character_count>

            {{#1737595837735.pr1_length#}}

            </pr_text_target_character_count>


            タスクの手順：

            1. 提供された情報を確認し、理解します。

            2. <analysis_results>に含まれるSEOキーワードと地域キーワードを確認します。

            3. アウトラインのPRポイントについて広告文章を作成します。

            4. 作成した文章をチェックし、必要に応じて修正します。

            5. 指定されたJSON形式で出力します。


            広告文章作成の詳細な手順：


            1. SEOキーワードと地域キーワードを効果的に組み込むよう心がけてください。

            - キーワードを組み込む際は、<store_memo>や<outline>に記載のない内容を推測や補完により追加することはしないでください。

            - キーワードを組み込む際は、<store_memo>と<outline>に矛盾がないかを必ず確認し、虚偽の内容とならないように注意してください。

            - キーワードを使うことで事実と合わない表現になる場合、該当キーワードは無理に使用しないでください。


            2. アウトラインのPRポイントについて、以下の点に注意しながら文章を作成してください：

            - <store_memo>と<outline>に含まれる情報のみを使用し、虚偽や過度な誇張表現を避けてください。

            - <no_publish> に示された情報は使用せず、文章に含めないでください。

            - PR文章は<pr_text_target_character_count>±10文字の長さで作成してください。

            - タイトルは別で作成するため、見出しを付けないでください。

            - 以下の文章の条件を遵守してください：

            ・文末に「！」「♪」「◎」を使用する際は、それぞれ3か所以内とすること。

            ・文末に「！」「♪」「◎」を使用する文は、必要に応じて体言止めにすること。

            ・文調は、やや親しみやすい表現にすること。

            ・店員目線の文章とし、一人称は「当店」とすること。

            ・一文は20文字程度に調整すること。


            3. 作成した文章をチェックし、以下の点を確認し、必要に応じて修正してください:

            - 虚偽や過度な誇張表現が含まれていないか

            - 掲載してはいけない情報に該当する記述が含まれていないか

            - PR文章の文字数と文字数を数え、報告してください

            - 作成した文章が<pr_text_target_character_count>±10文字の範囲に収まるように調整してください


            4. 最終的な出力は以下のJSON形式で行ってください：

            {

            "pr_content1": "PR文章"

            }


            注意事項：

            - 常に<store_memo>と<outline>の情報に基づいて文章を作成し、**事実に基づいた記述**を心がけてください。

            - <analysis_results>から抽出したSEOキーワードや地域キーワードを使う際は、<store_memo>や<outline>と矛盾しないかを厳重に確認してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を超える場合は、情報を減らしたり、言い回しの変更を行って調整してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を下回る場合は、<store_memo>をもとに情報を追加したり、言い回しの変更を行って調整してください。

            - 出力は必ず指定されたJSON形式に従ってください。余計なコメントや情報は出力しないでください。


            それでは、与えられた情報を基に魅力的な広告文章を作成してください。'
        selected: false
        title: プラス項目1
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1737946413205017379464132050'
      parentId: '17379464132050'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 1686.5908317011404
        y: 894.2178628403738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '17379464132050'
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: 446bdb2c-8471-4638-a27e-7d4068aa5199
          role: system
          text: ''
        - id: 52d4e9cd-66b4-458b-817e-60bb8c465c51
          role: user
          text: 'あなたは効果的な広告文章を作成するAIアシスタントです。与えられた情報を基に、ターゲットに響くお店の特長を引き出し、集客につながるような魅力的な広告文章を作成することが目標です。


            以下の情報をよく確認してください：


            店舗メモ：

            <store_memo>

            {{#1737595399740.pr2_memo#}}

            </store_memo>


            アウトライン：

            <outline>

            {{#1737595736438.outline2#}}

            </outline>


            事前情報の分析結果：

            <analysis_results>

            {{#1730618336797.plan#}}

            </analysis_results>


            掲載してはいけない情報とその理由：

            <no_publish>

            {{#1730618336797.no_publish#}}

            </no_publish>


            目標文字数：

            <pr_text_target_character_count>

            {{#1737595837735.pr2_length#}}

            </pr_text_target_character_count>


            PR1：

            <pr_contents1>

            {{#1737946413205017379464132050.text#}}

            </pr_contents1>


            タスクの手順：

            1. 提供された情報を確認し、理解します。

            2. <analysis_results>に含まれるSEOキーワードと地域キーワードを確認します。

            3. アウトラインのPRポイントについて広告文章を作成します。

            4. 作成した文章をチェックし、必要に応じて修正します。

            5. 指定されたJSON形式で出力します。


            広告文章作成の詳細な手順：


            1. SEOキーワードと地域キーワードを効果的に組み込むよう心がけてください。

            - キーワードを組み込む際は、<store_memo>や<outline>に記載のない内容を推測や補完により追加することはしないでください。

            - キーワードを組み込む際は、<store_memo>と<outline>に矛盾がないかを必ず確認し、虚偽の内容とならないように注意してください。

            - キーワードを使うことで事実と合わない表現になる場合、該当キーワードは無理に使用しないでください。


            2. アウトラインのPRポイントについて、以下の点に注意しながら文章を作成してください：

            - <store_memo>と<outline>に含まれる情報のみを使用し、虚偽や過度な誇張表現を避けてください。

            - <no_publish> に示された情報は使用せず、文章に含めないでください。

            - タイトルは別で作成するため、見出しを付けないでください。

            - PR1と重複する内容は含めないでください。

            - PR文章は<pr_text_target_character_count>±10文字の長さで作成してください。

            - 以下の文章の条件を遵守してください：

            ・文末に「！」「♪」「◎」を使用する際は、それぞれ3か所以内とすること。

            ・文末に「！」「♪」「◎」を使用する文は、必要に応じて体言止めにすること。

            ・文調は、やや親しみやすい表現にすること。

            ・店員目線の文章とし、一人称は「当店」とすること。

            ・一文は20文字程度に調整すること。


            3. 作成した文章をチェックし、以下の点を確認し、必要に応じて修正してください:

            - 虚偽や過度な誇張表現が含まれていないか

            - 掲載してはいけない情報に該当する記述が含まれていないか

            - PR文章の文字数と文字数を数え、報告してください

            - 作成した文章が<pr_text_target_character_count>±10文字の範囲に収まるように調整してください


            4. 最終的な出力は以下のJSON形式で行ってください：

            {

            "pr_content2": "PR文章"

            }


            注意事項：

            - 常に<store_memo>と<outline>の情報に基づいて文章を作成し、**事実に基づいた記述**を心がけてください。

            - ほかのPR文と内容が重複しないようにしてください。

            - <analysis_results>から抽出したSEOキーワードや地域キーワードを使う際は、<store_memo>や<outline>と矛盾しないかを厳重に確認してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を超える場合は、情報を減らしたり、言い回しの変更を行って調整してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を下回る場合は、<store_memo>をもとに情報を追加したり、言い回しの変更を行って調整してください。

            - 出力は必ず指定されたJSON形式に従ってください。余計なコメントや情報は出力しないでください。


            それでは、与えられた情報を基に魅力的な広告文章を作成してください。'
        selected: false
        title: プラス項目2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1737946413205017379464132051'
      parentId: '17379464132050'
      position:
        x: 432
        y: 68
      positionAbsolute:
        x: 1990.5908317011404
        y: 894.2178628403738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '17379464132050'
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: 1c22a831-fa7f-4d95-82cf-bb08ae3b62eb
          role: system
          text: ''
        - id: 21cbed13-cd2f-4660-bdf3-57d7781f32df
          role: user
          text: 'あなたは効果的な広告文章を作成するAIアシスタントです。与えられた情報を基に、ターゲットに響くお店の特長を引き出し、集客につながるような魅力的な広告文章を作成することが目標です。


            以下の情報をよく確認してください：


            店舗メモ：

            <store_memo>

            {{#1737595399740.pr3_memo#}}

            </store_memo>


            アウトライン：

            <outline>

            {{#1737595736438.outline3#}}

            </outline>


            事前情報の分析結果：

            <analysis_results>

            {{#1730618336797.plan#}}

            </analysis_results>


            掲載してはいけない情報とその理由：

            <no_publish>

            {{#1730618336797.no_publish#}}

            </no_publish>


            目標文字数：

            <pr_text_target_character_count>

            {{#1737595837735.pr3_length#}}

            </pr_text_target_character_count>


            ほかのPR：

            <other_pr_contents>

            {{#1737946413205017379464132050.text#}}

            {{#1737946413205017379464132051.text#}}

            </other_pr_contents>


            タスクの手順：

            1. 提供された情報を確認し、理解します。

            2. <analysis_results>に含まれるSEOキーワードと地域キーワードを確認します。

            3. アウトラインのPRポイントについて広告文章を作成します。

            4. 作成した文章をチェックし、必要に応じて修正します。

            5. 指定されたJSON形式で出力します。


            広告文章作成の詳細な手順：


            1. SEOキーワードと地域キーワードを効果的に組み込むよう心がけてください。

            - キーワードを組み込む際は、<store_memo>や<outline>に記載のない内容を推測や補完により追加することはしないでください。

            - キーワードを組み込む際は、<store_memo>と<outline>に矛盾がないかを必ず確認し、虚偽の内容とならないように注意してください。

            - キーワードを使うことで事実と合わない表現になる場合、該当キーワードは無理に使用しないでください。


            2. アウトラインのPRポイントについて、以下の点に注意しながら文章を作成してください：

            - <store_memo>と<outline>に含まれる情報のみを使用し、虚偽や過度な誇張表現を避けてください。

            - <no_publish> に示された情報は使用せず、文章に含めないでください。

            - タイトルは別で作成するため、見出しを付けないでください。

            - ほかのPRと重複する内容は含めないでください。

            - PR文章は<pr_text_target_character_count>±10文字の長さで作成してください。

            - 以下の文章の条件を遵守してください：

            ・文末に「！」「♪」「◎」を使用する際は、それぞれ3か所以内とすること。

            ・文末に「！」「♪」「◎」を使用する文は、必要に応じて体言止めにすること。

            ・文調は、やや親しみやすい表現にすること。

            ・店員目線の文章とし、一人称は「当店」とすること。

            ・一文は20文字程度に調整すること。


            3. 作成した文章をチェックし、以下の点を確認し、必要に応じて修正してください:

            - 虚偽や過度な誇張表現が含まれていないか

            - 掲載してはいけない情報に該当する記述が含まれていないか

            - PR文章の文字数と文字数を数え、報告してください

            - 作成した文章が<pr_text_target_character_count>±10文字の範囲に収まるように調整してください


            4. 最終的な出力は以下のJSON形式で行ってください：

            {

            "pr_content3": "PR文章"

            }


            注意事項：

            - 常に<store_memo>と<outline>の情報に基づいて文章を作成し、**事実に基づいた記述**を心がけてください。

            - ほかのPR文と内容が重複しないようにしてください。

            - <analysis_results>から抽出したSEOキーワードや地域キーワードを使う際は、<store_memo>や<outline>と矛盾しないかを厳重に確認してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を超える場合は、情報を減らしたり、言い回しの変更を行って調整してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を下回る場合は、<store_memo>をもとに情報を追加したり、言い回しの変更を行って調整してください。

            - 出力は必ず指定されたJSON形式に従ってください。余計なコメントや情報は出力しないでください。


            それでは、与えられた情報を基に魅力的な広告文章を作成してください。'
        selected: false
        title: プラス項目3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1737946413205017379464132052'
      parentId: '17379464132050'
      position:
        x: 736
        y: 68
      positionAbsolute:
        x: 2294.5908317011404
        y: 894.2178628403738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "def main(json1: str, json2: str, json3: str) -> dict:\n    import json\n\
          \    import ast\n\n    def find_keys_in_json(json_data, target_keys):\n\
          \        results = {}\n        \n        # 再帰的にJSONデータを探索する関数\n        def\
          \ recursive_search(data):\n            if isinstance(data, dict):  # 辞書の場合\n\
          \                for key, value in data.items():\n                    #\
          \ キーを小文字に変換して比較\n                    if key.lower() in [k.lower() for k\
          \ in target_keys]:\n                        results[key] = value\n     \
          \               recursive_search(value)\n            elif isinstance(data,\
          \ list):  # リストの場合\n                for item in data:\n                \
          \    recursive_search(item)\n        \n        # 再帰探索を開始\n        recursive_search(json_data)\n\
          \        return results\n\n    # JSON文字列を辞書に変換\n    data1 = json.loads(json1)\n\
          \    data2 = json.loads(json2)\n    data3 = json.loads(json3)\n\n    # 対象のキーを指定して取得\n\
          \    data1 = find_keys_in_json(data1, [\"pr_content1\"])\n    data2 = find_keys_in_json(data2,\
          \ [\"pr_content2\"])\n    data3 = find_keys_in_json(data3, [\"pr_content3\"\
          ])\n    \n    pr_content1 = data1.get(\"pr_content1\")\n    pr_content2\
          \ = data2.get(\"pr_content2\")\n    pr_content3 = data3.get(\"pr_content3\"\
          )\n    \n    plus_pr_contents = {\n        \"plus_pr_contents\": [pr_content1,\
          \ pr_content2, pr_content3]\n    }\n    \n    # 結果を返す\n    return {\n  \
          \      \"plus_pr_contents\": json.dumps(plus_pr_contents, ensure_ascii=False),\n\
          \    }"
        code_language: python3
        default_value:
        - key: plus_pr_contents
          type: string
          value: ''
        desc: ''
        error_strategy: default-value
        isInIteration: true
        iteration_id: '17379464132050'
        outputs:
          plus_pr_contents:
            children: null
            type: string
        selected: false
        title: 配列に変換
        type: code
        variables:
        - value_selector:
          - '1737946413205017379464132050'
          - text
          variable: json1
        - value_selector:
          - '1737946413205017379464132051'
          - text
          variable: json2
        - value_selector:
          - '1737946413205017379464132052'
          - text
          variable: json3
      height: 88
      id: '1737946413205017379464132053'
      parentId: '17379464132050'
      position:
        x: 1040
        y: 68
      positionAbsolute:
        x: 2598.5908317011404
        y: 894.2178628403738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1737946413205start
      parentId: '17379464132050'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1582.5908317011404
        y: 894.2178628403738
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        code: "\ndef main(iteration_result, max_length, min_length, char_tolerance)\
          \ -> dict:\n    import json\n    import ast\n    import functools\n\n  \
          \  # ぶれ許容量:char_tolerance\n    \n    min_dif_plus_pr_contents = []\n   \
          \ iteration_lengths = []\n    min_dif = float('inf')\n    for json_str in\
          \ iteration_result:\n        if json_str == '':\n            continue\n\n\
          \        data = json.loads(json_str)\n        contents = data['plus_pr_contents']\
          \ # 文字列を配列に変換\n\n        total_length = sum([len(content) for content in\
          \ contents if content is not None])\n        dif = total_length - max_length\
          \  # 既定文字数との差異を計算\n        is_valid = max_length >= total_length >= min_length\n\
          \n        iteration_lengths.append(total_length)\n        min_dif_plus_pr_contents.append((is_valid,\
          \ dif, total_length, json_str))\n    \n    def custom_sort(elem1, elem2):\n\
          \        \"\"\"\n        カスタムの比較関数。\n        is_validの降順->difが0に近い順に並べ替え\n\
          \        \"\"\"\n        # bool値で比較\n        if elem1[0] != elem2[0]:\n\
          \            return elem2[0] - elem1[0]  # Trueを上位にする\n\n        # int値で比較\
          \ (0に近い方を上位にする)\n        diff1 = abs(elem1[1])\n        diff2 = abs(elem2[1])\n\
          \        if diff1 != diff2:\n            return diff1 - diff2\n\n      \
          \  # ここまで来たら、boolとintが同じ\n        return True\n\n    # is_validの降順->difが0に近い順に並べ替え（カスタムの比較関数を使ってソート）\n\
          \    # 既定の文字数範囲内の一番長いものが1番目に来る\n    # すべて既定の文字数範囲外であれば最大文字数に一番近いものが1番目に来る\n\
          \    sorted_list = sorted(min_dif_plus_pr_contents, key=functools.cmp_to_key(custom_sort))\n\
          \    total_length = sorted_list[0][2]\n    result = sorted_list[0][3]\n\
          \    is_valid = max_length + char_tolerance >= total_length >= min_length\n\
          \n    return {\n        \"is_valid\": is_valid,\n        \"result\": result,\n\
          \        \"result_length\": total_length,\n        \"iteration_lengths\"\
          : iteration_lengths, # 動作確認用に全パターンの文字数を出力\n    }\n"
        code_language: python3
        desc: 並列処理で出力された文字数調整案から規定の最大文字数に一番近いものを採用
        outputs:
          is_valid:
            children: null
            type: number
          iteration_lengths:
            children: null
            type: array[number]
          result:
            children: null
            type: string
          result_length:
            children: null
            type: number
        selected: false
        title: 並列処理調整結果 (1)
        type: code
        variables:
        - value_selector:
          - '17379464132050'
          - output
          variable: iteration_result
        - value_selector:
          - '1730618336797'
          - max_length
          variable: max_length
        - value_selector:
          - '1730618336797'
          - min_length
          variable: min_length
        - value_selector:
          - env
          - char_tolerance
          variable: char_tolerance
      height: 112
      id: '17379464461670'
      position:
        x: 2948
        y: 826.2178628403738
      positionAbsolute:
        x: 2948
        y: 826.2178628403738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 0a646b92-5ce3-41c8-8fe7-90367861f57d
            value: '1'
            varType: number
            variable_selector:
            - '17379464461670'
            - is_valid
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE (1)
        type: if-else
      height: 124
      id: '17379464475730'
      position:
        x: 3252
        y: 826.2178628403738
      positionAbsolute:
        x: 3252
        y: 826.2178628403738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(result1: str) -> dict:\n    import ast\n\n    result = ast.literal_eval(result1)\n\
          \    plus_pr_contents = result.get('plus_pr_contents', [])\n    return {\n\
          \        'result': json.dumps(plus_pr_contents, ensure_ascii=False), \n\
          \    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: result抽出
        type: code
        variables:
        - value_selector:
          - '1737946388099'
          - result
          variable: result1
      height: 52
      id: '1737947331813'
      position:
        x: 4078.4591746690357
        y: 358.5
      positionAbsolute:
        x: 4078.4591746690357
        y: 358.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: FLN_yoshida
        desc: ''
        height: 374
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"あなたは効果的な広告文章を作成するAIアシスタントです。与えられた情報を基に、ターゲットに響くお店の特長を引き出し、集客につながるような魅力的な広告文章を作成することが目標です。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"以下の情報をよく確認してください：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"店舗メモ：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"<store_memo>","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"</store_memo>","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"アウトライン：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"<outline>","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"</outline>","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"事前情報の分析結果：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"<analysis_results>","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"</analysis_results>","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"目標文字数：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"<pr_text_target_character_count>","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"</pr_text_target_character_count>","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"PR1：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"<other_pr_contents>","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"</pr_contents>","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"タスクの手順：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"1.
          提供された情報を確認し、理解します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"2.
          <analysis_results>に含まれるSEOキーワードと地域キーワードを確認します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"3.
          アウトラインのPRポイントについて広告文章を作成します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"4.
          作成した文章をチェックし、必要に応じて修正します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"5.
          指定されたJSON形式で出力します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"広告文章作成の詳細な手順：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"1.
          SEOキーワードと地域キーワードを効果的に組み込むよう心がけてください。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"2.
          アウトラインのPRポイントについて、以下の点に注意しながら文章を作成してください：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          <store_memo>と<outline>に含まれる情報のみを使用し、虚偽や過度な誇張表現を避けてください。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          タイトルは別で作成するため、見出しを付けないでください。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          ほかのPRと重複する内容は含めないでください。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          PR文章は<pr_text_target_character_count>±10文字の長さで作成してください。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          以下の文章の条件を遵守してください：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"・文末に「！」「♪」「◎」を使用する際は、それぞれ3か所以内とすること。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"・文末に「！」「♪」「◎」を使用する文は、必要に応じて体言止めにすること。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"・文調は、やや親しみやすい表現にすること。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"・店員目線の文章とし、一人称は「当店」とすること。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"・一文は20文字程度に調整すること。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"3.
          作成した文章をチェックし、以下の点を確認し、必要に応じて修正してください:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          虚偽や過度な誇張表現が含まれていないか","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          PR文章の文字数と文字数を数え、報告してください","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          作成した文章が<pr_text_target_character_count>±10文字の範囲に収まるように調整してください","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"4.
          最終的な出力は以下のJSON形式で行ってください：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"{","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"\"pr_content3\":
          \"PR文章\"","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"}","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"注意事項：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          常に<store_memo>と<outline>の情報に基づいて文章を作成し、**事実に基づいた記述**を心がけてください。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          ほかのPR文と内容が重複しないようにしてください。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          SEOキーワードと地域キーワードは<analysis_results>から抽出し、そのまま使用してください。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          PR文章の文字数が<pr_text_target_character_count>+10文字を超える場合は、情報を減らしたり、言い回しの変更を行って調整してください。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          PR文章の文字数が<pr_text_target_character_count>+10文字を下回る場合は、<store_memo>をもとに情報を追加したり、言い回しの変更を行って調整してください。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          出力は必ず指定されたJSON形式に従ってください。余計なコメントや情報は出力しないでください。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"それでは、与えられた情報を基に魅力的な広告文章を作成してください。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 241
      height: 374
      id: '1738131833485'
      position:
        x: 2254.6307076794915
        y: 1056.0707310817825
      positionAbsolute:
        x: 2254.6307076794915
        y: 1056.0707310817825
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 241
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 192
        is_parallel: true
        iterator_selector:
        - '17376117009350'
        - iteration_list
        output_selector:
        - '1738237816623017382378166233'
        - plus_pr_contents
        output_type: array[string]
        parallel_nums: 5
        selected: false
        start_node_id: 1738237816623start
        title: イテレーション 2 (2)
        type: iteration
        width: 1338
      height: 192
      id: '17382378166230'
      position:
        x: 1558.5908317011404
        y: 1224.923379198762
      positionAbsolute:
        x: 1558.5908317011404
        y: 1224.923379198762
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1338
      zIndex: 1
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '17382378166230'
        model:
          completion_params:
            reasoning_effort: low
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: a8a373c6-88f4-4868-8b55-5e8af3ddca94
          role: system
          text: ''
        - id: db8d788e-236f-4165-847f-e2a841026040
          role: user
          text: 'あなたは効果的な広告文章を作成するAIアシスタントです。与えられた情報を基に、ターゲットに響くお店の特長を引き出し、集客につながるような魅力的な広告文章を作成することが目標です。


            以下の情報をよく確認してください：


            店舗メモ：

            <store_memo>

            {{#1737595399740.pr1_memo#}}

            </store_memo>


            アウトライン：

            <outline>

            {{#1737595736438.outline1#}}

            </outline>


            事前情報の分析結果：

            <analysis_results>

            {{#1730618336797.plan#}}

            </analysis_results>


            掲載してはいけない情報とその理由：

            <no_publish>

            {{#1730618336797.no_publish#}}

            </no_publish>


            目標文字数：

            <pr_text_target_character_count>

            {{#1737595837735.pr1_length#}}

            </pr_text_target_character_count>


            タスクの手順：

            1. 提供された情報を確認し、理解します。

            2. <analysis_results>に含まれるSEOキーワードと地域キーワードを確認します。

            3. アウトラインのPRポイントについて広告文章を作成します。

            4. 作成した文章をチェックし、必要に応じて修正します。

            5. 指定されたJSON形式で出力します。


            広告文章作成の詳細な手順：


            1. SEOキーワードと地域キーワードを効果的に組み込むよう心がけてください。

            - キーワードを組み込む際は、<store_memo>や<outline>に記載のない内容を推測や補完により追加することはしないでください。

            - キーワードを組み込む際は、<store_memo>と<outline>に矛盾がないかを必ず確認し、虚偽の内容とならないように注意してください。

            - キーワードを使うことで事実と合わない表現になる場合、該当キーワードは無理に使用しないでください。


            2. アウトラインのPRポイントについて、以下の点に注意しながら文章を作成してください：

            - <store_memo>と<outline>に含まれる情報のみを使用し、虚偽や過度な誇張表現を避けてください。

            - <no_publish> に示された情報は使用せず、文章に含めないでください。

            - PR文章は<pr_text_target_character_count>±10文字の長さで作成してください。

            - タイトルは別で作成するため、見出しを付けないでください。

            - 以下の文章の条件を遵守してください：

            ・文末に「！」「♪」「◎」を使用する際は、それぞれ3か所以内とすること。

            ・文末に「！」「♪」「◎」を使用する文は、必要に応じて体言止めにすること。

            ・文調は、やや親しみやすい表現にすること。

            ・店員目線の文章とし、一人称は「当店」とすること。

            ・一文は20文字程度に調整すること。


            3. 作成した文章をチェックし、以下の点を確認し、必要に応じて修正してください:

            - 虚偽や過度な誇張表現が含まれていないか

            - 掲載してはいけない情報に該当する記述が含まれていないか

            - PR文章の文字数と文字数を数え、報告してください

            - 作成した文章が<pr_text_target_character_count>±10文字の範囲に収まるように調整してください


            4. 最終的な出力は以下のJSON形式で行ってください：

            {

            "pr_content1": "PR文章"

            }


            注意事項：

            - 常に<store_memo>と<outline>の情報に基づいて文章を作成し、**事実に基づいた記述**を心がけてください。

            - <analysis_results>から抽出したSEOキーワードや地域キーワードを使う際は、<store_memo>や<outline>と矛盾しないかを厳重に確認してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を超える場合は、情報を減らしたり、言い回しの変更を行って調整してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を下回る場合は、<store_memo>をもとに情報を追加したり、言い回しの変更を行って調整してください。

            - 出力は必ず指定されたJSON形式に従ってください。余計なコメントや情報は出力しないでください。


            それでは、与えられた情報を基に魅力的な広告文章を作成してください。'
        selected: false
        title: プラス項目1
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1738237816623017382378166230'
      parentId: '17382378166230'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 1686.5908317011404
        y: 1292.923379198762
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '17382378166230'
        model:
          completion_params:
            reasoning_effort: low
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: 446bdb2c-8471-4638-a27e-7d4068aa5199
          role: system
          text: ''
        - id: 52d4e9cd-66b4-458b-817e-60bb8c465c51
          role: user
          text: 'あなたは効果的な広告文章を作成するAIアシスタントです。与えられた情報を基に、ターゲットに響くお店の特長を引き出し、集客につながるような魅力的な広告文章を作成することが目標です。


            以下の情報をよく確認してください：


            店舗メモ：

            <store_memo>

            {{#1737595399740.pr2_memo#}}

            </store_memo>


            アウトライン：

            <outline>

            {{#1737595736438.outline2#}}

            </outline>


            事前情報の分析結果：

            <analysis_results>

            {{#1730618336797.plan#}}

            </analysis_results>


            掲載してはいけない情報とその理由：

            <no_publish>

            {{#1730618336797.no_publish#}}

            </no_publish>


            目標文字数：

            <pr_text_target_character_count>

            {{#1737595837735.pr2_length#}}

            </pr_text_target_character_count>


            PR1：

            <pr_contents1>

            {{#1738237816623017382378166230.text#}}

            </pr_contents1>


            タスクの手順：

            1. 提供された情報を確認し、理解します。

            2. <analysis_results>に含まれるSEOキーワードと地域キーワードを確認します。

            3. アウトラインのPRポイントについて広告文章を作成します。

            4. 作成した文章をチェックし、必要に応じて修正します。

            5. 指定されたJSON形式で出力します。


            広告文章作成の詳細な手順：


            1. SEOキーワードと地域キーワードを効果的に組み込むよう心がけてください。

            - キーワードを組み込む際は、<store_memo>や<outline>に記載のない内容を推測や補完により追加することはしないでください。

            - キーワードを組み込む際は、<store_memo>と<outline>に矛盾がないかを必ず確認し、虚偽の内容とならないように注意してください。

            - キーワードを使うことで事実と合わない表現になる場合、該当キーワードは無理に使用しないでください。


            2. アウトラインのPRポイントについて、以下の点に注意しながら文章を作成してください：

            - <store_memo>と<outline>に含まれる情報のみを使用し、虚偽や過度な誇張表現を避けてください。

            - <no_publish> に示された情報は使用せず、文章に含めないでください。

            - タイトルは別で作成するため、見出しを付けないでください。

            - PR1と重複する内容は含めないでください。

            - PR文章は<pr_text_target_character_count>±10文字の長さで作成してください。

            - 以下の文章の条件を遵守してください：

            ・文末に「！」「♪」「◎」を使用する際は、それぞれ3か所以内とすること。

            ・文末に「！」「♪」「◎」を使用する文は、必要に応じて体言止めにすること。

            ・文調は、やや親しみやすい表現にすること。

            ・店員目線の文章とし、一人称は「当店」とすること。

            ・一文は20文字程度に調整すること。


            3. 作成した文章をチェックし、以下の点を確認し、必要に応じて修正してください:

            - 虚偽や過度な誇張表現が含まれていないか

            - 掲載してはいけない情報に該当する記述が含まれていないか

            - PR文章の文字数と文字数を数え、報告してください

            - 作成した文章が<pr_text_target_character_count>±10文字の範囲に収まるように調整してください


            4. 最終的な出力は以下のJSON形式で行ってください：

            {

            "pr_content2": "PR文章"

            }


            注意事項：

            - 常に<store_memo>と<outline>の情報に基づいて文章を作成し、**事実に基づいた記述**を心がけてください。

            - ほかのPR文と内容が重複しないようにしてください。

            - <analysis_results>から抽出したSEOキーワードや地域キーワードを使う際は、<store_memo>や<outline>と矛盾しないかを厳重に確認してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を超える場合は、情報を減らしたり、言い回しの変更を行って調整してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を下回る場合は、<store_memo>をもとに情報を追加したり、言い回しの変更を行って調整してください。

            - 出力は必ず指定されたJSON形式に従ってください。余計なコメントや情報は出力しないでください。


            それでは、与えられた情報を基に魅力的な広告文章を作成してください。'
        selected: false
        title: プラス項目2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1738237816623017382378166231'
      parentId: '17382378166230'
      position:
        x: 432
        y: 68
      positionAbsolute:
        x: 1990.5908317011404
        y: 1292.923379198762
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '17382378166230'
        model:
          completion_params:
            reasoning_effort: low
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: 1c22a831-fa7f-4d95-82cf-bb08ae3b62eb
          role: system
          text: ''
        - id: 21cbed13-cd2f-4660-bdf3-57d7781f32df
          role: user
          text: 'あなたは効果的な広告文章を作成するAIアシスタントです。与えられた情報を基に、ターゲットに響くお店の特長を引き出し、集客につながるような魅力的な広告文章を作成することが目標です。


            以下の情報をよく確認してください：


            店舗メモ：

            <store_memo>

            {{#1737595399740.pr3_memo#}}

            </store_memo>


            アウトライン：

            <outline>

            {{#1737595736438.outline3#}}

            </outline>


            事前情報の分析結果：

            <analysis_results>

            {{#1730618336797.plan#}}

            </analysis_results>


            掲載してはいけない情報とその理由：

            <no_publish>

            {{#1730618336797.no_publish#}}

            </no_publish>


            目標文字数：

            <pr_text_target_character_count>

            {{#1737595837735.pr3_length#}}

            </pr_text_target_character_count>


            ほかのPR：

            <other_pr_contents>

            {{#1738237816623017382378166230.text#}}

            {{#1738237816623017382378166231.text#}}

            </other_pr_contents>


            タスクの手順：

            1. 提供された情報を確認し、理解します。

            2. <analysis_results>に含まれるSEOキーワードと地域キーワードを確認します。

            3. アウトラインのPRポイントについて広告文章を作成します。

            4. 作成した文章をチェックし、必要に応じて修正します。

            5. 指定されたJSON形式で出力します。


            広告文章作成の詳細な手順：


            1. SEOキーワードと地域キーワードを効果的に組み込むよう心がけてください。

            - キーワードを組み込む際は、<store_memo>や<outline>に記載のない内容を推測や補完により追加することはしないでください。

            - キーワードを組み込む際は、<store_memo>と<outline>に矛盾がないかを必ず確認し、虚偽の内容とならないように注意してください。

            - キーワードを使うことで事実と合わない表現になる場合、該当キーワードは無理に使用しないでください。


            2. アウトラインのPRポイントについて、以下の点に注意しながら文章を作成してください：

            - <store_memo>と<outline>に含まれる情報のみを使用し、虚偽や過度な誇張表現を避けてください。

            - <no_publish> に示された情報は使用せず、文章に含めないでください。

            - タイトルは別で作成するため、見出しを付けないでください。

            - ほかのPRと重複する内容は含めないでください。

            - PR文章は<pr_text_target_character_count>±10文字の長さで作成してください。

            - 以下の文章の条件を遵守してください：

            ・文末に「！」「♪」「◎」を使用する際は、それぞれ3か所以内とすること。

            ・文末に「！」「♪」「◎」を使用する文は、必要に応じて体言止めにすること。

            ・文調は、やや親しみやすい表現にすること。

            ・店員目線の文章とし、一人称は「当店」とすること。

            ・一文は20文字程度に調整すること。


            3. 作成した文章をチェックし、以下の点を確認し、必要に応じて修正してください:

            - 虚偽や過度な誇張表現が含まれていないか

            - 掲載してはいけない情報に該当する記述が含まれていないか

            - PR文章の文字数と文字数を数え、報告してください

            - 作成した文章が<pr_text_target_character_count>±10文字の範囲に収まるように調整してください


            4. 最終的な出力は以下のJSON形式で行ってください：

            {

            "pr_content3": "PR文章"

            }


            注意事項：

            - 常に<store_memo>と<outline>の情報に基づいて文章を作成し、**事実に基づいた記述**を心がけてください。

            - ほかのPR文と内容が重複しないようにしてください。

            - <analysis_results>から抽出したSEOキーワードや地域キーワードを使う際は、<store_memo>や<outline>と矛盾しないかを厳重に確認してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を超える場合は、情報を減らしたり、言い回しの変更を行って調整してください。

            - PR文章の文字数が<pr_text_target_character_count>+10文字を下回る場合は、<store_memo>をもとに情報を追加したり、言い回しの変更を行って調整してください。

            - 出力は必ず指定されたJSON形式に従ってください。余計なコメントや情報は出力しないでください。


            それでは、与えられた情報を基に魅力的な広告文章を作成してください。'
        selected: false
        title: プラス項目3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1738237816623017382378166232'
      parentId: '17382378166230'
      position:
        x: 736
        y: 68
      positionAbsolute:
        x: 2294.5908317011404
        y: 1292.923379198762
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "def main(json1: str, json2: str, json3: str) -> dict:\n    import json\n\
          \    import ast\n\n    def find_keys_in_json(json_data, target_keys):\n\
          \        results = {}\n        \n        # 再帰的にJSONデータを探索する関数\n        def\
          \ recursive_search(data):\n            if isinstance(data, dict):  # 辞書の場合\n\
          \                for key, value in data.items():\n                    #\
          \ キーを小文字に変換して比較\n                    if key.lower() in [k.lower() for k\
          \ in target_keys]:\n                        results[key] = value\n     \
          \               recursive_search(value)\n            elif isinstance(data,\
          \ list):  # リストの場合\n                for item in data:\n                \
          \    recursive_search(item)\n        \n        # 再帰探索を開始\n        recursive_search(json_data)\n\
          \        return results\n\n    # JSON文字列を辞書に変換\n    data1 = json.loads(json1)\n\
          \    data2 = json.loads(json2)\n    data3 = json.loads(json3)\n\n    # 対象のキーを指定して取得\n\
          \    data1 = find_keys_in_json(data1, [\"pr_content1\"])\n    data2 = find_keys_in_json(data2,\
          \ [\"pr_content2\"])\n    data3 = find_keys_in_json(data3, [\"pr_content3\"\
          ])\n    \n    pr_content1 = data1.get(\"pr_content1\")\n    pr_content2\
          \ = data2.get(\"pr_content2\")\n    pr_content3 = data3.get(\"pr_content3\"\
          )\n    \n    plus_pr_contents = {\n        \"plus_pr_contents\": [pr_content1,\
          \ pr_content2, pr_content3]\n    }\n    \n    # 結果を返す\n    return {\n  \
          \      \"plus_pr_contents\": json.dumps(plus_pr_contents, ensure_ascii=False),\n\
          \    }"
        code_language: python3
        default_value:
        - key: plus_pr_contents
          type: string
          value: ''
        desc: ''
        error_strategy: default-value
        isInIteration: true
        iteration_id: '17382378166230'
        outputs:
          plus_pr_contents:
            children: null
            type: string
        selected: false
        title: 配列に変換
        type: code
        variables:
        - value_selector:
          - '1738237816623017382378166230'
          - text
          variable: json1
        - value_selector:
          - '1738237816623017382378166231'
          - text
          variable: json2
        - value_selector:
          - '1738237816623017382378166232'
          - text
          variable: json3
      height: 88
      id: '1738237816623017382378166233'
      parentId: '17382378166230'
      position:
        x: 1040
        y: 68
      positionAbsolute:
        x: 2598.5908317011404
        y: 1292.923379198762
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1738237816623start
      parentId: '17382378166230'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1582.5908317011404
        y: 1292.923379198762
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        code: "\ndef main(iteration_result, max_length, min_length, char_tolerance)\
          \ -> dict:\n    import json\n    import ast\n    import functools\n\n  \
          \  # ぶれ許容量:char_tolerance\n    \n    min_dif_plus_pr_contents = []\n   \
          \ iteration_lengths = []\n    min_dif = float('inf')\n    for json_str in\
          \ iteration_result:\n        if json_str == '':\n            continue\n\n\
          \        data = json.loads(json_str)\n        contents = data['plus_pr_contents']\
          \ # 文字列を配列に変換\n\n        total_length = sum([len(content) for content in\
          \ contents if content is not None])\n        dif = total_length - max_length\
          \  # 既定文字数との差異を計算\n        is_valid = max_length >= total_length >= min_length\n\
          \n        iteration_lengths.append(total_length)\n        min_dif_plus_pr_contents.append((is_valid,\
          \ dif, total_length, json_str))\n    \n    def custom_sort(elem1, elem2):\n\
          \        \"\"\"\n        カスタムの比較関数。\n        is_validの降順->difが0に近い順に並べ替え\n\
          \        \"\"\"\n        # bool値で比較\n        if elem1[0] != elem2[0]:\n\
          \            return elem2[0] - elem1[0]  # Trueを上位にする\n\n        # int値で比較\
          \ (0に近い方を上位にする)\n        diff1 = abs(elem1[1])\n        diff2 = abs(elem2[1])\n\
          \        if diff1 != diff2:\n            return diff1 - diff2\n\n      \
          \  # ここまで来たら、boolとintが同じ\n        return True\n\n    # is_validの降順->difが0に近い順に並べ替え（カスタムの比較関数を使ってソート）\n\
          \    # 既定の文字数範囲内の一番長いものが1番目に来る\n    # すべて既定の文字数範囲外であれば最大文字数に一番近いものが1番目に来る\n\
          \    sorted_list = sorted(min_dif_plus_pr_contents, key=functools.cmp_to_key(custom_sort))\n\
          \    total_length = sorted_list[0][2]\n    result = sorted_list[0][3]\n\
          \    is_valid = max_length + char_tolerance >= total_length >= min_length\n\
          \n    return {\n        \"is_valid\": is_valid,\n        \"result\": result,\n\
          \        \"result_length\": total_length,\n        \"iteration_lengths\"\
          : iteration_lengths, # 動作確認用に全パターンの文字数を出力\n    }\n"
        code_language: python3
        desc: 並列処理で出力された文字数調整案から規定の最大文字数に一番近いものを採用
        outputs:
          is_valid:
            children: null
            type: number
          iteration_lengths:
            children: null
            type: array[number]
          result:
            children: null
            type: string
          result_length:
            children: null
            type: number
        selected: false
        title: 並列処理調整結果 (2)
        type: code
        variables:
        - value_selector:
          - '17382378166230'
          - output
          variable: iteration_result
        - value_selector:
          - '1730618336797'
          - max_length
          variable: max_length
        - value_selector:
          - '1730618336797'
          - min_length
          variable: min_length
        - value_selector:
          - env
          - char_tolerance
          variable: char_tolerance
      height: 112
      id: '17382378244250'
      position:
        x: 2948
        y: 1224.923379198762
      positionAbsolute:
        x: 2948
        y: 1224.923379198762
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 0a646b92-5ce3-41c8-8fe7-90367861f57d
            value: '1'
            varType: number
            variable_selector:
            - '17382378244250'
            - is_valid
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE (2)
        type: if-else
      height: 124
      id: '17382378279950'
      position:
        x: 3252
        y: 1224.923379198762
      positionAbsolute:
        x: 3252
        y: 1224.923379198762
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - env
          - error_type_e01
          variable: error_type
        - value_selector:
          - env
          - error_message_e01
          variable: error_message
        selected: false
        title: 終了 2 (1)
        type: end
      height: 116
      id: '17382378323280'
      position:
        x: 3564.7471128117013
        y: 1362.1522019191427
      positionAbsolute:
        x: 3564.7471128117013
        y: 1362.1522019191427
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 191.86065373001338
      y: 113.45100441350695
      zoom: 0.647970482716668
  rag_pipeline_variables: []
